### Conditional statement if, elif and else

In [60]:
name = "anas"
age = 19
if(name == 'anas'):
  print(True)
else:
  print(False)

True

### Logical operators (and, or, not)

#### And

In [61]:
if(name == "anas" and age == 19):
  print(True)
else:
  print(False)

True

Or

In [62]:
if(name == "anas" or age == 25):
  print(True)
else:
  print(False)

True

### Not

In [63]:
if(not (age == 19)):
  print(True)
else:
  print(False)

False

### Input in python

In [64]:
weight = int(input("Enter your weight"))
f"your weigth is {weight}"

'your weigth is 4'

#### Even and odd check

### salary questions

In [83]:
year = eval(input("Enter your years of experinance"))
total = 0

if(year > 5):
  salary = eval(input("Enter your salary"))
  bonus = 5/100
  increaseBonus = salary * bonus
  total = salary + increaseBonus
  print(f"Your new salary: {total}")
else:
  print(f"You have not enough experience")

Your new salary: 3629.325

### voting question

In [84]:
age = int(input("Enter your age: "))
if(age > 17):
  print('Eligible for voting')
else:
  print('Not eligible for voting')

Not eligible for voting

### multiple question

In [ ]:
table = int(input("Enter the number"))
if(table % 5 == 0):
  print("Hello")
else:
  print("Bye")

Bye

### grading question

In [ ]:
percent = int(input("Enter the percentage"))
grade = ''
if(percent > 80 and percent <=100):
  grade = "A"
elif(percent > 60):
  grade = "B"
elif(percent > 50):
  grade = "C"
elif(percent > 45):
  grade = "D"
elif(percent > 25):
  grade = "E"
else:
  grade = "F"

print(f"Your grade is {grade}")

Your grade is B

### Nested if, elif, else statement

In [ ]:
num = int(input("Enter the number"))

if(num % 2 == 0):
  print('Even Number')
else:
  print('Odd Number')

Even Number

### saylani location question

In [ ]:
location = input("Enter the location you want").lower()
if(location == 'malir'):
  courses = input("Enter your courses").lower()
  if(courses == 'web' or courses == 'mobile'):
    print('You can study here')
  else:
    print('You can not study here')
elif(location == 'paposh'):
  courses = input("Enter your courses").lower()
  if(courses == 'web' or courses == 'mobile' or  courses == 'flutter' or courses == 'ai'):
    print('You can study here')
  else:
    print('You can not study here')
else:
  print('Error!, Enter the right campus')

You can not study here

### age nationality question

In [ ]:
nationality = input("Enter your nationality").lower()
if(nationality == 'pakistani'):
  age = int(input("Enter your age"))
  if(age > 17):
    print("You eligible for voting")
  else:
    print("You are not eligible") 
else:
  print('Sorry, But you are not pakistani :(')

You eligible for voting

### gender question

In [ ]:
gender = input("Enter your gender").lower()

if(gender == "f"):
  print('Work only urban areas')
elif(gender == "m"):
  age = int(input("Enter your age"))
  if(age > 0):
    print("You are kid")
  elif(age > 20):
    print('You can work anywhere')
  elif(age > 40 and age <= 60):
    print('You can work only urban area')
  else:
    print("You please retire for new generation")
else:
  print('Error')

You are kid

### Comments

In [ ]:
# python comment

## List in Python

- Collection of multiple data
- It can store same data or even different

In [ ]:
cities = ["karachi","lahore","islamabad","rawalpindi","sukhur"]
cities[0]

'karachi'

In [ ]:
cities[2:] #end taak value ayi gi
cities[2:4] # 2 saay lakar 4-1=3 taak chalay ga, also called "slicing"

['islamabad', 'rawalpindi']

In [ ]:
cities[0] = 'new york'
cities

['new york', 'lahore', 'islamabad', 'rawalpindi', 'sukhur']

In [ ]:
newCity = ['london','gujrawala']
cities = cities + newCity
cities

['new york',
 'lahore',
 'islamabad',
 'rawalpindi',
 'sukhur',
 'london',
 'gujrawala']

In [ ]:
cities.append('fasialabad')#Add element from the last in array
cities

['new york',
 'lahore',
 'islamabad',
 'rawalpindi',
 'sukhur',
 'london',
 'gujrawala',
 'fasialabad']

In [ ]:
cities.insert(0,"atlanta") #insert with index(location for insert) and string(what you want to insert)
cities

['atlanta',
 'new york',
 'lahore',
 'islamabad',
 'rawalpindi',
 'sukhur',
 'london',
 'gujrawala',
 'fasialabad']

In [ ]:
cities.remove("atlanta")#remove required name of element
cities

['new york',
 'lahore',
 'islamabad',
 'rawalpindi',
 'sukhur',
 'london',
 'gujrawala',
 'fasialabad']

In [ ]:
del cities[0]#del delete the index
cities

['lahore',
 'islamabad',
 'rawalpindi',
 'sukhur',
 'london',
 'gujrawala',
 'fasialabad']

In [ ]:
cities.pop()# pop when empty remove the last and if we put indexing it will remove/delete the give index
cities

['lahore', 'islamabad', 'rawalpindi', 'sukhur', 'london', 'gujrawala']