## Tuple
- start with (1,) atleast one value and one comma(,)

In [39]:
tup = (1,2,3,4,5)
tup

(1, 2, 3, 4, 5)

In [40]:
type(tup)

tuple

In [41]:
tup[3]

4

In [42]:
multiple_tup = ('hello',43,True,89.43)
multiple_tup

('hello', 43, True, 89.43)

In [43]:
tup[-1]
tup[-2:-3:-1]

(4,)

In [44]:
tup[-1:-4:-1]

(5, 4, 3)

###  Tuple can't change

In [45]:
tup[0] = 45

TypeError: 'tuple' object does not support item assignment

### Tuple more efficient in respect to size

In [ ]:
import sys
list = ['Qasim','hasan','hamza','ali','abrar']
tuple = ('anas','talha','ahmed','yosuf','yusha')

print(sys.getsizeof(list))
print(sys.getsizeof(tup))

104
80

In [ ]:
tuple_name = ('anas','talha','ahmed','yosuf','yusha','anas')
tuple_name.count('talha')

1

### Nested tuple, List and dictionary

In [ ]:
nested_list = [1,2,[3,4,6],7,8]
nested_list[2][2]

6

In [ ]:
nested_tuple = ((1,2),3,4,(5,6))
nested_tuple[0][1]

2

## Sets

- unique value
- unordered

In [ ]:
sets = {1,1,3,2,4}#dont repeat value
sets

{1, 2, 3, 4}

In [ ]:
sets_keyword = set([1,2,3,1]) #when use set keyword create with list 
sets_keyword

{1, 2, 3}

## Loops
 
- For Loop
- While Loop

In [ ]:
# For Loop
loop_name = ('anas','talha','ahmed','yosuf','yusha','anas')

for name in loop_name:
  print(name,end=" ")

anas talha ahmed yosuf yusha anas

In [ ]:
# Len
n = len(loop_name)
n

6

In [52]:
import time
for i in range(n):
  print(f"Index at {i} {loop_name[i]}")
  time.sleep(2)#second delay

Index at 0 anas
Index at 1 talha
Index at 2 ahmed
Index at 3 yosuf
Index at 4 yusha
Index at 5 anas

In [56]:
nameLoop = "anasrizwan"
iterate_name = len(nameLoop)
for i in range(iterate_name):
  print(nameLoop[i], end=" ")

a n a s r i z w a n

#### Task 1

In [67]:
listStore = []

userName = input("Enter your name: ")
fatherName = input("Enter your father name: ")
age = input("Enter your age: ")
brotherName = input("Enter your brother name: ")
friendName = input("Enter your friend name: ")

listStore.extend([userName,fatherName,age,brotherName,friendName])
for i in listStore:
  print(i)

anas
rizwan
19
talha
huzaifa

### Task 2

In [65]:
users = []

for i in range(5):
  name = input("Enter your name: ")
  users.append(name)


for i in users:
  print(i)

anas
talha
ahmed
ali
faraz

In [69]:
for i in range(2,10):
  print(i, end=" ")

2 3 4 5 6 7 8 9

## Nested Loops

In [1]:
nested_list_loop = [[1,3,5,7,9],[2,4,6,8,10],[2,3,5,7,11],["anas","talha","ali",3,4]]
lenList = len(nested_list_loop)

# for i in nested_list_loop:
#   print(i)

for i in range(0,lenList):
  lenPart = len(nested_list_loop[i])
  for j in range(0,lenPart):
    print(nested_list_loop[i][j], end=" ")

1 3 5 7 9 2 4 6 8 10 2 3 5 7 11 anas talha ali 3 4

In [89]:
for i in nested_list_loop:
  for j in i:
    print(j,end=" ")

1 3 5 7 9 2 4 6 8 10 2 3 5 7 11 anas talha ali 3 4

### pattern

In [4]:
for i in range(5):
  for j in range(5):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [107]:
for i in range(5):
  for j in range(i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [1]:
c= 5
for i in range(5):
  for j in range(c):
    print("*",end=" ")
  c = c - 1
  print()

* * * * *
* * * *
* * *
* *
*

In [2]:
count = 0

for i in range(10):
  count = count + 1
  if(count==3):
    break
count

3

In [3]:
for i in range(10):
  count = count + 1
  if(count==3):
    continue
count

13

In [ ]:
for i in range():